In [100]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import StandardScaler

In [4]:
from IPython.core.display import HTML, display

In [5]:
display(HTML("<style>.container {width: 90% !important}</style>"))

In [6]:
%matplotlib inline

In [2]:
dfLabels = pd.read_pickle('../PklJar/DFLABELS.pkl')
dfFeatures = pd.read_pickle('../PklJar/DFFEATURES.pkl')

In [35]:
dfLabels.iloc[70:100,:7]

,NUM_ANIMALS,SPECIES_Delphinus delphis,SPECIES_Globicephala melas,SPECIES_Grampus griseus,SPECIES_Lagenorhynchus acutus,SPECIES_Stenella coeruleoalba,SPECIES_Tursiops truncatus
1999-03-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-18,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1999-03-19,29.0,0.0,0.0,0.0,29.0,0.0,0.0
1999-03-20,12.0,0.0,0.0,0.0,12.0,0.0,0.0
1999-03-21,2.0,0.0,0.0,0.0,2.0,0.0,0.0
1999-03-22,2.0,0.0,0.0,0.0,2.0,0.0,0.0
1999-03-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-03-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-04-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
dfFeatures.head()

,Ddelph_count,Lageno_count,FRDH,FRDV,OTTH,OTTV,Kp_index,Sunspot_No,Dst_index,AE_index,...,Pred_med,ampDiff_med,vel_med,move_med,EasterlyWS,SoutherlyWS,WTMP,WVHT,APD,DPD
1999-01-01,0.0,0.0,20999.987708,49201.519653,17459.028474,53549.040000,15.750,89.0,-3.333333,94.333333,...,1.435,3.470,0.555200,3.580,-8.369086,-1.962736,5.629167,0.782083,4.260000,7.372083
1999-01-02,0.0,0.0,20995.609097,49202.668125,17455.841440,53548.428889,17.750,94.0,-7.458333,139.875000,...,1.435,0.165,0.012217,3.530,-10.358338,2.124278,5.470833,1.029167,3.723333,4.049167
1999-01-03,0.0,0.0,21050.438681,52278.752361,17458.259553,53551.839861,10.500,80.0,-4.125000,59.958333,...,-0.130,-3.140,-0.529213,3.540,5.530758,-3.071964,5.187500,1.402083,3.920000,4.574583
1999-01-04,0.0,0.0,21101.213611,49311.501111,17453.573850,53549.170278,17.625,90.0,-18.250000,211.625000,...,1.455,0.165,0.012479,3.430,-6.726604,-2.535160,5.108333,1.735000,6.136667,10.669583
1999-01-05,0.0,0.0,20985.217292,49205.891597,17447.151464,53554.155208,19.000,89.0,-23.000000,187.583333,...,1.475,0.125,0.007250,3.285,-8.472319,-0.380683,4.904348,0.875000,4.175455,8.880909

In [18]:
dfFeatures.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5844 entries, 1999-01-01 to 2014-12-31
Freq: D
Data columns (total 34 columns):
Ddelph_count           5844 non-null float64
Lageno_count           5844 non-null float64
FRDH                   5836 non-null float64
FRDV                   5824 non-null float64
OTTH                   5479 non-null float64
OTTV                   5465 non-null float64
Kp_index               5844 non-null float64
Sunspot_No             5844 non-null float64
Dst_index              5844 non-null float64
AE_index               5844 non-null float64
Proton_flux_gt30MeV    5352 non-null float64
Proton_flux_gt60MeV    5352 non-null float64
Pred_min               5844 non-null float64
ampDiff_min            5844 non-null float64
vel_min                5844 non-null float64
move_min               5844 non-null float64
Pred_max               5844 non-null float64
ampDiff_max            5844 non-null float64
vel_max                5844 non-null float64
move_max               5844 non-null float64
Pred_std               5844 non-null float64
ampDiff_std            5844 non-null float64
vel_std                5844 non-null float64
move_std               5844 non-null float64
Pred_med               5844 non-null float64
ampDiff_med            5844 non-null float64
vel_med                5844 non-null float64
move_med               5844 non-null float64
EasterlyWS             5397 non-null float64
SoutherlyWS            5397 non-null float64
WTMP                   5394 non-null float64
WVHT                   5365 non-null float64
APD                    5365 non-null float64
DPD                    5364 non-null float64
dtypes: float64(34)
memory usage: 1.6 MB

Replace and add Cape-Cod area population survey data for a total of 6 species

In [13]:
dfCC6 = pd.read_pickle('../PklJar/dfCensus_Cape_Cod_6spp.pkl')

In [14]:
dfCC6.head(20)

,Stene_count,Stene_roll_W_sum,Gramp_count,Gramp_roll_W_sum,Delph_count,Delph_roll_W_sum,Lagen_count,Lagen_roll_W_sum,Tursi_count,Tursi_roll_W_sum,Globi_count,Globi_roll_W_sum,Sum_Counts,Sum_W_Rolls
1999-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
1999-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1999-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,10.0,10.0,11.0
1999-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0,0.0,11.0
1999-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0,0.0,11.0
1999-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0,0.0,11.0
1999-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0,0.0,11.0
1999-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,10.0,1.0,11.0
1999-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10.0,0.0,11.0
1999-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1999-01-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1999-01-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1999-01-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1999-01-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1999-01-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,8.0,8.0,8.0
1999-01-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,8.0
1999-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,8.0
1999-01-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,8.0
1999-01-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,8.0
1999-01-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,8.0

In [15]:
df_MAG = dfFeatures[['FRDH', 'FRDV', 'OTTH', 'OTTV']]

In [19]:
df_SUN = dfFeatures[['Kp_index', 'Sunspot_No', 'Dst_index', 'AE_index', 'Proton_flux_gt30MeV', 'Proton_flux_gt60MeV']]

In [21]:
commonprefs = ['Pred_', 'ampDiff_', 'vel_', 'move_']
suffxs = ['min', 'max', 'std', 'med']
tide_cols = ['%s%s' %(prefx, sufx) for prefx in commonprefs for sufx in suffxs]

In [79]:
df_TIDE = dfFeatures[tide_cols]

In [28]:
df_WIND = dfFeatures[['EasterlyWS', 'SoutherlyWS']]

In [30]:
df_WATER = dfFeatures[['WTMP', 'WVHT', 'APD', 'DPD']]

In [64]:
dfLabels.head()

,NUM_ANIMALS,SPECIES_Delphinus delphis,SPECIES_Globicephala melas,SPECIES_Grampus griseus,SPECIES_Lagenorhynchus acutus,SPECIES_Stenella coeruleoalba,SPECIES_Tursiops truncatus,CONDITION_CODE_1,CONDITION_CODE_2,CONDITION_CODE_3,CONDITION_CODE_4,CONDITION_CODE_6
1999-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
df_TARGETS = dfLabels.iloc[:, 1:7]

In [96]:
df_TOTAL = df_TARGETS.sum(axis=1)

In [76]:
df_TOTAL

1999-01-01    0.0
1999-01-02    0.0
1999-01-03    0.0
1999-01-04    0.0
1999-01-05    0.0
Freq: D, dtype: float64

In [97]:
CapeCodDataDict = {'Features': {'CENSUS': dfCC6,
                               'MAG': df_MAG,
                               'SUN': df_SUN,
                               'TIDE': df_TIDE,
                               'WIND': df_WIND,
                               'WATER': df_WATER},
                  'Targets': {'By_SPP': df_TARGETS,
                             'TOTAL': df_TOTAL}
                  }

In [83]:
pd.testing.assert_index_equal(dfCC6.index, df_MAG.index)

In [84]:
pd.testing.assert_index_equal(df_MAG.index, df_SUN.index)

In [98]:
idxref = df_TOTAL.index
for key, val in CapeCodDataDict['Features'].items():
    print('testing ', key)
    idx = val.index
    pd.testing.assert_index_equal(idxref, idx)

testing  CENSUS
testing  MAG
testing  SUN
testing  TIDE
testing  WIND
testing  WATER

In [99]:
pd.testing.assert_index_equal(df_TOTAL.index, df_TARGETS.index)

In [101]:
with open('../PklJar/CapeCodDataDict', 'wb') as f:
    pickle.dump(CapeCodDataDict, f, protocol=pickle.HIGHEST_PROTOCOL)